body {
  background: #f8f5f0;
  font-family: "Open sans", sans-serif;
}

a {
  text-decoration: none;
  color: #3498db;
}

.content-profile-page {
  margin: 1em auto;
  width: 44.23em;
}

.profile-card {
  margin-bottom: 1em;
  margin-top: 10em;
}

.profile-user-page .img-user-profile {
  margin: 0 auto;
  text-align: center;
}

.profile-user-page .img-user-profile .profile-bgHome {
  border-bottom: 0.2em solid #f5f5f5;
  width: 44.23em;
  height: 16em;
}

.profile-user-page .img-user-profile .avatar {
  margin: 0 auto;
  background: #fff;
  width: 7em;
  height: 7em;
  padding: 0.25em;
  border-radius: 0.4em;
  margin-top: -6em;
  box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.35);
  border-radius: 50%;
  background-color: rgb(182, 182, 182);
}

.profile-user-page .button {
  position: absolute;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  width: 5.5em;
  background: #3498db;
  border: 1px solid #2487c9;
  color: #fff;
  outline: none;
  border-radius: 0.6em 0.6em 0.6em 0.6em;
  padding: 0.8em;
  top: 17rem;
  left: 579px;
  margin-top: 25px;
}

.upload-btn {
  position: relative;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  width: 6em;
  background: #495057;
  border: 1px solid #495057;
  color: #fff;
  outline: none;
  border-radius: 0.6em 0.6em 0.6em 0.6em;
  padding: 0.8em;
  top: 7rem;
  left: 20.4rem;
  margin-top: 25px;
  text-align: center;
}

.grid-item img {
  border-radius: 10px;
  width: 200px;
  height: auto;
}

.grid-item img:hover {
  filter: brightness(0.7);
  cursor: pointer;
}

.grid-item p {
  font-weight: bold;
  text-align: center;
  color: #46494c;
  font-size: 14px;
}

.grid {
  text-align: center;
  max-width: 95vw;
  margin: 2.5vw auto;
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  padding: 5px;
  box-sizing: border-box;
  display: inline;
  max-width: 280px;
  display: inline-block;
}

.edit-profile {
  width: 30px;
  height: 30px;
  object-fit: cover;
  position: relative;
  background-color: #c9c9c9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 24rem;
  top: 0.5rem;
}

.edit-profile img {
  width: 20px;
  height: 20px;
}

.profile-user-page .user-profile-data,
.profile-user-page .description-profile {
  text-align: center;
  padding: 0 1.5em;
}

.profile-user-page .user-profile-data h1 {
  font-family: "Lato", sans-serif;
  margin-top: 0.35em;
  color: #292f33;
  margin-bottom: 0;
}

.profile-user-page .user-profile-data p {
  font-family: "Lato", sans-serif;
  color: #8899a6;
  font-size: 1.1em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.profile-user-page .description-profile {
  color: #75787b;
  font-size: 0.98em;
}

.profile-user-page .data-user {
  font-family: "Quicksand", sans-serif;
  margin-bottom: 0;
  cursor: pointer;
  padding: 0;
  list-style: none;
  display: table;
  width: 100.15%;
}

.profile-user-page .data-user li {
  margin: 0;
  padding: 0;
  width: 33.33334%;
  display: table-cell;
  text-align: center;
  border-left: 0.1em solid transparent;
}

.profile-user-page .data-user li:first-child {
  border-left: 0;
}

.profile-user-page .data-user li:first-child a {
  border-bottom-left-radius: 0.3rem;
}

.profile-user-page .data-user li:last-child a {
  border-bottom-right-radius: 0.3rem;
}

.profile-user-page .data-user li a,
.profile-user-page .data-user li strong {
  display: block;
}

.profile-user-page .data-user li a {
  background-color: #f7f7f7;
  border-top: 1px solid rgba(242, 242, 242, 0.5);
  border-bottom: 0.2em solid #f7f7f7;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4),
    0 1px 1px rgba(255, 255, 255, 0.4);
  padding: 0.93em 0;
  color: #46494c;
}

.profile-user-page .data-user li a strong,
.profile-user-page .data-user li a span {
  font-weight: 600;
  line-height: 1;
}

.profile-user-page .data-user li a strong {
  font-size: 2em;
}

.profile-user-page .data-user li a span {
  color: #717a7e;
}

.profile-user-page .data-user li a:hover {
  background: rgba(0, 0, 0, 0.05);
  border-bottom: 0.2em solid #3498db;
  color: #3498db;
}

.profile-user-page .data-user li a:hover span {
  color: #3498db;
}

footer h4 {
  display: block;
  text-align: center;
  clear: both;
  font-family: "Coda", sans-serif;
  color: #566965;
  line-height: 6;
  font-size: 1em;
}

footer h4 a {
  text-decoration: none;
  color: #3498db;
}

.container {
  gap: 15px;
  flex-wrap: wrap;
  padding: 25px;
  margin-top: 7rem;
  margin-left: 69px;
  display: flex;
  flex-wrap: wrap;
}
